<% content_for :title, "My details" %>

<%= semantic_form_for @user, :as => :user, :url => account_path do |form| %>
  <h1>Your details <%= link_to_function "Save", "$('user_edit').submit()", :class => "save button" %></h1>

  <%= form.inputs :class => "name-and-email" do %>
    <%= form.input :name, :input_html => { :placeholder => "My name" } %>
    <%= form.input :email, :input_html => { :placeholder => "My email address" }, :hint => "Your picture will be automatically loaded from #{link_to "Gravatar", "http://gravatar.com", :target => :_blank } if you supply an email address.".html_safe %>
    <li class="gravatar"><%= gravatar form.object, :class => :gravatar %></li>
  <% end %>
  
  <% Auth.methods.each do |method| %>
    <%= render method.to_s, :form => form %>
  <% end %>
    
<% end %>