<!DOCTYPE html>
<html>
<head>
  <title>Towr</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <a class="logo" href="/">Towr<small>.org</small></a>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
    &copy; 2010 <a href="http://matt-powell.org.nz">Matt Powell</a>.
  </div>
  
  <%= javascript_include_tag "mootools", "mootools-more", "rails" %>
  <%= yield :scripts %>
</body>
</html>
