<!DOCTYPE html>
<html>
<head>
  <title>Towr</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <a class="logo" href="/">Towr<small>.org</small></a>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
    
  </div>
  
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools.js", "mootools-more", "rails" %>
  <%= yield :scripts %>
</body>
</html>
