<!DOCTYPE html>
<html>
<head>
  <title>Towr</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header">
    <a class="logo" href="/">Towr<small>.org</small></a>
    <div class="auth">
      <% if logged_in? %>
        <p>Logged in as</p>
        <p><%= link_to current_user, "#", :class => :user %><p>
        <p><%= link_to "Log out", logout_path, :class => :logout %></p>
      <% else %>
        <p>Log in with</p>
        <p>
          <%= link_to "Twitter", login_path(:twitter), :class => "with twitter" %>
        </p>
      <% end %>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
    &copy; 2010 <a href="http://matt-powell.org.nz">Matt Powell</a>.
  </div>
  
  <%= javascript_include_tag "mootools", "mootools-more", "plugins", "rails" %>
  <%= yield :scripts %>
</body>
</html>
